html,
body {
    height:100%
}

.title-main1 {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    color: #f6f6f6
}

#map {
    margin: auto;
    height: 700px;
    width: 900px;
}

#key {
    margin: auto;
    padding: 10px;
    font-size: 25px;
    left-margin: 40px;
}
