{% extends "header.html" %}
{% block body %}
<div class="title-main1"><b>Find the next Mayfair!</b></div>
<div id="map"></div>
<script>
  function initMap() {
	var sydney = {lat: -33.863, lng: 151.044};
	var map = new google.maps.Map(document.getElementById('map'), {
	  zoom: 10,
	  center: sydney
	});
	var marker = new google.maps.Marker({
	  position: sydney,
	  map: map
	});
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoOqTx3aPFSI4C53Gi6qPvCewm2OIey2k&callback=initMap">
</script>
<div class="row no-gutters" id="key">
	Key:
</div>
{% endblock %}